.wrapper {
    width: 100%;
    margin-top: 6rem;
    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 1.5rem;
    }
    .sub-message{
        text-align: center;
        font-size: 1.2rem;
    }
    .contact-info{
        text-align: center; 
    }
  }
  